@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  color: #eee;
  align-self: center;
  text-align: center;
}


h1 a,
h2 a,
h4 a,
h5 a {
  text-decoration: none;
}

h4 {
  color: #eee;
}

h2,
h3 {
  text-align: left;
  align-self: stretch;
}

h2 {
  border-bottom: 1px dashed #aaa;
  margin-top: 2em;
  padding-bottom: 0.3em;
}

#content hr {
  width: 100%;
}

b,
strong {
  color: #eee;
}

a {
  color: #ccc;
  font-weight: bold;
}


body {
  font-family: 'Merriweather', serif;
  background-color: #111;
  color: #ccc;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: #CCCC49 #222;
  overflow-y: scroll;
}

p {
  line-height: 1.4;
}

.site-title {
  align-self: center;
}

.title {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.subtitle {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  border-bottom: none;
}

.tagline {
  font-size: 1rem;
  font-style: italic;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px;
  margin-top: 1rem;
  text-align: center;
}

nav {
  padding-top: 1rem;
  font-weight: bold;
  align-self: center;
}

footer {
  align-self: center;
  text-align: center;
  width: min(600px, 100%);
  padding: 0 30px;
  box-sizing: border-box;
}

footer hr {
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
}


nav a:hover {
  text-decoration: underline;
  color: #fff;
}

#content {
  align-self: center;
  box-sizing: border-box;
  padding: 0 30px;
  max-width: min(600px, 100%);
}

.centered {
  align-self: center;
  text-align: center;
}

p:has(+ pre) {
  margin-bottom: 0;
}

p+pre {
  margin-top: 5px;
}

pre {
  overflow: auto;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 4px 0;
  background-color: #111;

}

code {
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.9rem;
}

p>code,
a>code,
h1>code,
h2>code,
h3>code,
h4>code,
h5>code,
li>code {
  font-weight: bold;
  color: #ddd;
  font-size: 1em;
}

.copy-button {
  font-family: sans-serif;
  font-size: 0.8rem;
  text-decoration: underline;
}

table th {
  border-bottom: 1px solid #ccc;
}

img,
video {
  margin: 0;
  max-width: 100%;
}

.warning {
  border-color: #CCCC49 !important;
}

.warning h1 {
  border-color: #CCCC49 !important;
  background-color: #CCCC49 !important;
}

.block {
  border: 1px dashed #CCC;
}

.block.padded {
  margin: 10px;
  border: 1px solid #CCC;
}

.block p {
  padding-top: 0;
  font-size: 0.9em;
  padding-left: 15px;
  padding-right: 15px;
}

.block h1 {
  font-size: 1.17em;
  position: relative !important;
  margin: 0 !important;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px !important;
  border: 1px solid #CCC;
  color: #111;
  background-color: #CCC;
}

.nopara p {
  padding: 0;
  margin: 0px;
  margin-bottom: -5px;
}

.important {
  color: #F8FA90;
}


li {
  padding: 1px 0;
}

:root {
  /* guess which browser needed this */
  font-size: 1rem;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  :root {
    zoom: 1.2;
    --viewport-width: calc(100vw / 1.2);
    --viewport-height: calc(100vh / 1.2);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  :root {
    zoom: 1.3;
    --viewport-width: calc(100vw / 1.3);
    --viewport-height: calc(100vh / 1.3);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  :root {
    zoom: 1.4;
    --viewport-width: calc(100vw / 1.4);
    --viewport-height: calc(100vh / 1.4);
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.5;
    --viewport-width: calc(100vw / 1.5);
    --viewport-height: calc(100vh / 1.5);
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.55;
    --viewport-width: calc(100vw / 1.55);
    --viewport-height: calc(100vh / 1.55);
  }
}


@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.6;
    --viewport-width: calc(100vw / 1.6);
    --viewport-height: calc(100vh / 1.6);
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  :root {
    zoom: 1.65;
    --viewport-width: calc(100vw / 1.65);
    --viewport-height: calc(100vh / 1.65);
  }
}

@media screen and (min-width: 1800px) {
  :root {
    zoom: 1.7;
    --viewport-width: calc(100vw / 1.7);
    --viewport-height: calc(100vh / 1.7);
  }
}
